{{define "listing_header" }}<!DOCTYPE html>
<html amp lang="en">
  <head>
    <meta charset="utf-8" />
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ if .CanonicalURL }}<link rel="canonical" href="{{ .CanonicalURL }}">{{ end }}
    {{ if .AMPURL }}<link rel="amphtml" href="{{ .AMPURL }}">{{ end }}

    <title>{{ if .Category }}{{ .Category.Name }} &#8211; {{ end}}{{ if .Tag }}{{ .Tag.Name }} &#8211; {{ end}}{{ .Title }}</title>

    <style amp-boilerplate>
      body {
        -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      }
      @-webkit-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-moz-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-ms-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-o-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
    </style>
    <noscript
      ><style amp-boilerplate>
        body {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none;
        }
      </style></noscript>
    <style amp-custom>
      .header {
        background-color: #ddd;
        border-bottom: solid 1px #aaa;
      }
      @media (min-width: 956px) {
        .header, .left-nav, .nav-container, .header > .container {
          height: 100px;
          line-height: 100px;
        }
        .tabs {
          float: left;
          height: 100px;
        }
        .tab > a {
          height: 97px; /* height: 100px, minus 3px for internal border */
          width: 192px;
          line-height: 100px;
        }
        .main {
          padding: 24px 24px 24px 24px;
        }
        /*
/* We don't have an alternate navigation in AMP; display button always.
        button.toggle-sidebar {
          display: none;
        }
*/
      }
      @media (max-width: 956px) {
        .nav-container {
          /* min-width: 462px; only important if tabs are visible.t st 192px + 3 * 70px */
        }
        .header, .left-nav, .nav-container, .header > .container {
          height: 70px;
          line-height: 70px;
        }
        .tabs {
          display: none;
        }
        .tab > a {
          height: 67px; /* height: 70px, minus 3px for internal border */
          width: 90px;
          line-height: 70px;
        }
        .main {
          padding: 12px 12px 12px 12px;
        }
        button.toggle-sidebar {
          float: right;
          margin-right: 12px;
          /* next 3 lines: vert center the button */
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .header-title {
        background: url({{ .BaseURL }}/images/road.jpg);
        width: 192px;
        height: 70px;
        display: block;
        /* next 3 lines: vert center the logo */
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      .tab {
        float: left;
      }
      .tab > a {
        float: left;
        text-align: center;
        text-decoration: none;
        color: #777;
        font-family: arial;
      }
      .tab > a:hover {
        border-bottom: #8c8 solid 3px;
      }
      #sidebar {
        padding: 15px 45px 15px 15px;
      }

      .lightbox {
        background: rgba(0,0,0,.8);
      }
      .lightbox-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        color: white;
      }

      .article {
          margin-left: auto;
          margin-right: auto;
          max-width: 600px;
      }
      .article > h1 {
          font-family: "Source Serif Pro";
          text-align: right;
          border-bottom: 1px solid #444;
          font-feature-settings: 'smcp'; /* smallcaps */
          font-variant: small-caps;
          font-variant-numeric: oldstyle-nums;
      }
      .article > .article_meta {
          font-family: "Source Serif Pro";
          text-align: right;
          font-style: italic;
          font-variant-numeric: oldstyle-nums;
      }
      .article > .article_body {
          font-family: "Source Serif Pro";
          font-variant-numeric: oldstyle-nums;
      }
      .article > .article_body > p {
          text-align: justify;
          word-wrap: break-word;
          overflow-wrap: break-word;

          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
      }
      
    </style>




  </head>
  <body>
    {{if ne .GAAccount ""}}
    <amp-analytics type="googleanalytics">
      <script type="application/json">
        {
          "vars": {
            "account": "{{.GAAccount}}"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
      </script>
    </amp-analytics>
    {{ end }}

    <amp-sidebar layout="nodisplay" side="left" id="sidebar">
    <!-- TODO(ivucica): have our own close image -->
      <amp-img class="amp-close-image" src="https://ampbyexample.com/img/ic_close_black_18dp_2x.png" width="20" height="20" alt="close sidebar" on="tap:sidebar.close" role="button" tabindex="0"></amp-img>
      <ul>
        <li><a href="{{ .BaseURL }}/amp">Home</a></li>
        {{ with $mnu := menu .Context "primary" }}{{ range $mi := $mnu.MenuItemList }}{{ template "drawer_menu_item" menu_item $.Context $mi }}{{ end }}{{ end }}
      </ul>
    </amp-sidebar>
    <header class="header fixed">
      <div class="container">
        <div class="nav-container">
          <div class="left-nav alt">
            <a href="{{ .BaseURL }}" class="tab header-title"><span></span></a>

            <button on="tap:sidebar.toggle" class="toggle-sidebar">=</button>

            <div class="tabs">
              <div class="tab"><a href="{{ .BaseURL }}/amp">Home</a></div>
              <!-- TODO: adopt amp-mega-menu https://amp.dev/documentation/components/amp-mega-menu/ -->
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container main">

{{end}}
{{define "listing_about"}}
{{end}}
{{define "listing_entry_text_1"}}
<div class="article">

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": "{{ .CanonicalURL }}",
    "headline": "{{ .Title }}",
    "datePublished": "{{ .CreatedAt | time_rfc3339 }}",
    "dateModified": "{{ .CreatedAt | time_rfc3339 }}",
    "description": "A blogpost.",
    "author": {
      "@type": "Person",
      "name": "{{ .Author.Name }}"
    },
    "publisher": {
      "@type": "Person",
      "name": "{{ .Author.Name }}",
      "image": {
          "@type": "ImageObject",
          "url": "{{ .Author.Gravatar }}",
          "height": 256,
          "width": 256
      }
    },
    "image": {
      "@type": "ImageObject",
      "url": "{{ .SiteBaseURL }}/images/road.jpg",
      "height": 2000,
      "width": 800
    }
  }
</script>
<!-- TODO: add description to json/ld. add correct image to the jsonld. allow setting an organization as the publisher, with a logo. add sameAs annotation to publisher/author/org. -->
 
  <h1>{{ .Title }}</h1>
  <div class="article_meta"><a href="{{ .AMPURL }}">{{ .CreatedAt | time_humanize }}</a> {{ .CreatedAt | time_short }} by <a rel="author" href="{{ .Author.Link }}">{{ .Author.Name }}</a></div>
  <div class="article_body">
    {{ .RenderableBody }}
  </div>
  <div class="article_meta">(<a href="{{ .CanonicalURL }}">non-amp</a>)</div>
</div>		
{{end}}
{{define "listing_nav"}}
{{end}}
{{define "drawer_menu_item"}}
          {{ if .MenuItem.Link }}
          <li><a href="{{ .Web.BaseURL }}{{ .MenuItem.Link }}/amp">{{ .MenuItem.Title }}</a></li> <!-- TODO: maybe don't append /amp willy-nilly -->
          
          {{ if .MenuItem.Children }}
          {{ range $mic := .MenuItem.Children }}{{ template "drawer_menu_item_child" menu_item $.Context $mic }}{{ end }}
          {{ end }}
          {{ else }}
          {{ if .MenuItem.Children }}
          <li><a>{{ .MenuItem.Title }}</a></li>
          {{ range $mic := .MenuItem.Children }}{{ template "drawer_menu_item_child" menu_item $.Context $mic }}{{ end }}
          {{ end }}
          {{ end }}
{{end}}
{{define "drawer_menu_item_child"}}
          <li><a href="{{ .Web.BaseURL }}{{ .MenuItem.Link }}/amp" style="font-size: 10pt;">&nbsp; &nbsp;{{ .MenuItem.Title }}</a></li><!-- TODO: maybe don't append /amp willy-nilly -->
{{end}}
{{define "listing_footer"}}
    </div>
  </body>
</html>
  
{{end}}
