{{define "listing_header" }}
<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ .SiteTagline }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{ if .Category }}{{ .Category.Name }} &#8211; {{ end}}{{ if .Tag }}{{ .Tag.Name }} &#8211; {{ end}}{{ .Title }}</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{{ .BaseURL }}/images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ .Title }}">
    <link rel="apple-touch-icon-precomposed" href="{{ .BaseURL }}/images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{{ .BaseURL }}/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="{{ .BaseURL }}/images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    {{ if .CanonicalURL }}<link rel="canonical" href="{{ .CanonicalURL }}">{{ end }}
    {{ if .AMPURL }}<link rel="amphtml" href="{{ .AMPURL }}">{{ end }}

    <link rel="alternate" type="application/rss+xml" title="{{ .Title }} &raquo; Feed" href="{{ .BaseURL }}/feed" />
    <!-- <link rel="alternate" type="application/rss+xml" title="{{ .Title }} &raquo; Comments Feed" href="{{ .BaseURL }}comments/feed" /> -->
    {{ if .Tag  }}<link rel="alternate" type="application/rss+xml" title="{{ .Title }} &raquo; {{ .Tag.Name }} Tag Feed" href="{{ .BaseURL }}{{ .Tag.Link }}/feed" />{{ end }}
    {{ if .Category  }}<link rel="alternate" type="application/rss+xml" title="{{ .Title }} &raquo; {{ .Category.Name }} Category Feed" href="{{ .BaseURL }}{{ .Category.Link }}/feed" />{{ end }}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ .MDLBaseURL }}/material.grey-orange.min.css">
    <link rel="stylesheet" href="{{ .BaseURL }}/styles.css">
    <style>
    /* jquery-syntax container can fall out of the article card itself by a lot */
    article > .mdl-card__supporting-text > div {
      display: block;
      position: relative;
      max-width: 100%;
    }
    .syntax-container {
      max-width: 90%;
    }

    /* shrink source code display */
    .syntax-container > ol.syntax > li.line > .source {
      font-size: 0.8em;
    }
    .syntax-container > ol.syntax > li.line::before {
      font-size: 0.8em;
    }
    </style>

    <!-- jquery-syntax -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script type="text/javascript" src="{{ .BaseURL }}/wp-content/plugins/jquery-syntax/jquery-syntax/jquery.syntax.min.js"></script>
    <script type="text/javascript">
      // This function is executed when the page has finished loading.
      jQuery(function($) {
        $.syntax({theme: 'bright', root: '{{ .BaseURL }}/wp-content/plugins/jquery-syntax/jquery-syntax/'});
      });
    </script>

  </head>
  <body>

    {{if ne .GAAccount ""}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{.GAAccount}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{.GAAccount}}');
    </script>
    {{end}}

    <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded mdl-layout--fixed-header"><!-- could use --fixed-drawer too http://www.tutorialspark.com/Google_MaterialDesignLite_Tutorials/MDL_Material_Design_Lite_Navigation_layout.php -->

      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title of the Header -->
          <span class="mdl-layout-title">{{ .Title }} :: {{ .SiteTagline }}</span>
          <!-- Spacer, to align items to right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation links, hidden on smaller displays -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="{{ .BaseURL }}">Home</a>
            {{ with $mnu := menu .Context "primary" }}{{ range $mi := $mnu.MenuItemList }}{{ template "header_menu_item" menu_item $.Context $mi }}{{ end }}{{ end }}
          </nav>
        </div>
      </header>

      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ .Title }}</span>
        <!-- navigation container -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="{{ .BaseURL }}">Home</a>
          {{ with $mnu := menu .Context "primary" }}{{ range $mi := $mnu.MenuItemList }}{{ template "drawer_menu_item" menu_item $.Context $mi }}{{ end }}{{ end }}
        </nav>
      </div>

      <main class="mdl-layout__content" role="main">
        <div class="demo-blog__posts mdl-grid">

          <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop" style="min-height: 60px;">
            <div size="width: 468px; height: 60px;">

              <!-- insert ad code here -->
              Advertising

            </div>
          </div>
{{end}}
{{define "listing_entry_photo"}}
          <div class="mdl-card coffee-pic mdl-cell mdl-cell--{{ .Cols }}-col mdl-cell--{{ .ColsDesktop }}-col-desktop">
            <div class="mdl-card__media mdl-color-text--grey-50">
              <h3><a href="entry.html">Coffee Pic</a></h3>
            </div>
            <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
              <div class="minilogo"></div>
              <div>
                <strong>The Newist</strong>
                <span>2 days ago</span>
              </div>
            </div>
          </div>
{{end}}
{{define "drawer_menu_item"}}
          {{ if .MenuItem.Link }}
          <a class="mdl-navigation__link" href="{{ .Web.BaseURL }}{{ .MenuItem.Link }}">{{ .MenuItem.Title }}</a>
          
          {{ if .MenuItem.Children }}
          {{ range $mic := .MenuItem.Children }}{{ template "drawer_menu_item_child" menu_item $.Context $mic }}{{ end }}
          {{ end }}
          {{ else }}
          {{ if .MenuItem.Children }}
          <a class="mdl-navigation__link mdl-js-ripple-effect" for="menubtn-{{ .MenuItem.Id }}">{{ .MenuItem.Title }}</a>
          {{ range $mic := .MenuItem.Children }}{{ template "drawer_menu_item_child" menu_item $.Context $mic }}{{ end }}
          {{ end }}
          {{ end }}
{{end}}
{{define "drawer_menu_item_child"}}
            <a class="mdl-navigation__link" href="{{ .Web.BaseURL }}{{ .MenuItem.Link }}" style="font-size: 10pt;">&nbsp; &nbsp;{{ .MenuItem.Title }}</a>
{{end}}
{{define "header_menu_item"}}
          {{ if .MenuItem.Link }}
          <a class="mdl-navigation__link" href="{{ .Web.BaseURL }}{{ .MenuItem.Link }}">{{ .MenuItem.Title }}</a>
          
          {{ if .MenuItem.Children }}
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn-{{ .MenuItem.Id }}" style="width: 250px;">
               {{ range $mic := .MenuItem.Children }}{{ template "header_menu_item_child" menu_item $.Context $mic }}{{ end }}
          </ul>
          <button id="menubtn-{{ .MenuItem.Id }}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">more_vert</i>
            <span class="visuallyhidden">show menu</span>
          </button>
          {{ end }}
          {{ else }}
          {{ if .MenuItem.Children }}
          <a class="mdl-navigation__link mdl-js-ripple-effect" for="menubtn-{{ .MenuItem.Id }}">{{ .MenuItem.Title }}</a>
          
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn-{{ .MenuItem.Id }}" style="width: 250px;">
               {{ range $mic := .MenuItem.Children }}{{ template "header_menu_item_child" menu_item $.Context $mic }}{{ end }}
          </ul>
          <button id="menubtn-{{ .MenuItem.Id }}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">more_vert</i>
            <span class="visuallyhidden">show menu</span>
          </button>
          {{ end }}
          {{ end }}
{{end}}
{{define "header_menu_item_child"}}
            <li class="mdl-menu__item" onclick="window.location.href = '{{ .Web.BaseURL }}{{ .MenuItem.Link }}';">{{ .MenuItem.Title }}</li>
{{end}}
{{define "listing_about"}}
          <div class="mdl-card something-else mdl-cell mdl-cell--{{ .Cols }}-col mdl-cell--{{ .ColsDesktop }}-col-desktop" style="max-height: 400px;">
            <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
              <img src="{{ .BaseURL }}/images/logo.png">
              About me
            </div>
            <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
              <div>
                <strong><a href="/about">About me</a></strong>
              </div>
              <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn">
                <!-- TODO: replace with dynamically generated -->
                <li class="mdl-menu__item"><a href="/about">About</a></li>
                <li class="mdl-menu__item"><a href="/projects">Projects</a></li>
              </ul>
              <button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">more_vert</i>
                <span class="visuallyhidden">show menu</span>
              </button>
            </div>
          </div>
{{end}}
{{define "listing_entry_text_1"}}
          <div class="mdl-card on-the-road-again mdl-cell mdl-cell--{{ .Cols }}-col mdl-cell--{{ .ColsDesktop}}-col-desktop">
            <article>
              <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": "{{ .CanonicalURL }}",
    "headline": "{{ .Title }}",
    "datePublished": "{{ .CreatedAt | time_rfc3339 }}",
    "dateModified": "{{ .CreatedAt | time_rfc3339 }}",
    "description": "A blogpost.",
    "author": {
      "@type": "Person",
      "name": "{{ .Author.Name }}"
    },
    "publisher": {
      "@type": "Person",
      "name": "{{ .Author.Name }}",
      "image": {
          "@type": "ImageObject",
          "url": "{{ .Author.Gravatar }}",
          "height": 256,
          "width": 256
      }
    },
    "image": {
      "@type": "ImageObject",
      {{ if .Thumbnail }}
      "url": "{{ .SiteBaseURL }}/wp-content/uploads/{{ .Thumbnail.FileName }}",
      "height": {{ .Thumbnail.Height }},
      "width": {{ .Thumbnail.Width }}
      {{ else }}
      "url": "{{ .SiteBaseURL }}/images/road.jpg",
      "height": 2000,
      "width": 800
      {{ end }}
    }
  }
              </script>
              <!-- TODO: add description to json/ld. add correct image to the jsonld. allow setting an organization as the publisher, with a logo. add sameAs annotation to publisher/author/org. -->

              {{ if .Thumbnail }}
              <header class="mdl-card__media mdl-color-text--grey-50" style="background-image: url({{ .SiteBaseURL }}/wp-content/uploads/{{ .Thumbnail.FileName }})">
                <h3><a href="{{ .CanonicalURL }}">{{ .Title }}</a></h3>
              </header>
              {{ else }}
              <header class="mdl-card__media mdl-color-text--grey-50">
                <h3><a href="{{ .CanonicalURL }}">{{ .Title }}</a></h3>
              </header>
              {{ end }}

              <section class="mdl-color-text--grey-600 mdl-card__supporting-text">
                <div>
                  <!-- {{ if .Thumbnail }}<img src="{{ .SiteBaseURL }}/wp-content/uploads/{{ .Thumbnail.FileName }}" width="{{ .Thumbnail.Width }}" height="{{ .Thumbnail.Height }}" alt="{{ .Thumbnail.AltText }}">{{ end }} -->

                  <!-- TODO: what about the full text? -->
                  {{ if .UseFullBody }}{{ .RenderableBody }}{{ else }}{{ .RenderableExcerpt }}{{ end }}
                </div>
              </section>
              <footer class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                <div class="minilogo" style="background-image: url('{{ .Author.Gravatar }}'); background-size: cover;"></div>
                <div>
                  <a href="{{ .Author.Link }}" rel="author">{{ .Author.Name }}</a>
                  <span><time datetime="{{ .CreatedAt | time_rfc3339}}">{{ .CreatedAt | time_humanize }} ({{ .CreatedAt | time_short }})</time></span>
                  <span>{{ range .Categories}} | <a href="{{ $.SiteBaseURL }}{{ .Link }}">{{ .Name }}</a>{{end}}</span>
                  <span>{{ range .Tags}} | <a href="{{ $.SiteBaseURL }}{{ .Link }}">{{ .Name }}</a>{{end}}</span>
                </div>
              </footer>
            </article>
          </div>
{{end}}
{{define "listing_entry_quote_1"}}
          <div class="mdl-card amazing mdl-cell mdl-cell--{{ .Cols }}-col mdl-cell--{{ .ColsDesktop}}-col-desktop">
            <div class="mdl-card__title mdl-color-text--grey-50">
              <h3 class="quote"><a href="entry.html">I couldn’t take any pictures but this was an amazing thing…</a></h3>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
              Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
            </div>
            <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
              <div class="minilogo"></div>
              <div>
                <strong>The Newist</strong>
                <span>2 days ago</span>
              </div>
            </div>
          </div>
{{end}}
{{define "listing_entry_text_2"}}
          <div class="mdl-card shopping mdl-cell mdl-cell--{{ .Cols }}-col mdl-cell--{{ .ColsDesktop}}-col-desktop">
            <div class="mdl-card__media mdl-color-text--grey-50">
              <h3><a href="entry.html">Shopping</a></h3>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
              Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
            </div>
            <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
              <div class="minilogo"></div>
              <div>
                <strong>The Newist</strong>
                <span>2 days ago</span>
              </div>
            </div>
          </div>
{{end}}
{{define "listing_nav"}}
          <nav class="demo-nav mdl-cell mdl-cell--{{ .Cols }}-col mdl-cell--{{ .ColsDesktop}}-col-desktop">
            <div class="section-spacer"></div>
            <a href="{{ .BaseURL }}/page/{{ .NextPage }}" class="demo-nav__button" title="show more">
              More
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_forward</i>
              </button>
            </a>
          </nav>
        </div>
{{end}}
{{define "listing_footer"}}
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
              <span class="visuallyhidden">Twitter</span>
            </button>
            <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger">
              <span class="visuallyhidden">Facebook</span>
            </button>
            <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
              <span class="visuallyhidden">Google Plus</span>
            </button>
          </div>
          <div class="mdl-mini-footer--right-section">
            <button class="mdl-mini-footer--social-btn social-btn__share">
              <i class="material-icons" role="presentation">share</i>
              <span class="visuallyhidden">share</span>
            </button>
          </div>
        </footer>
      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
    <script src="{{ .MDLBaseURL }}/material.min.js"></script>
  </body>
  <script>
    Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
      var link = el.querySelector('a');
      if(!link) {
        return;
      }
      var target = link.getAttribute('href');
      if(!target) {
        return;
      }
      el.addEventListener('click', function() {
        location.href = target;
      });
    });
  </script>
</html>
{{end}}
